<%# We can make this a partial later to have the image pop up on top of current page with javascript %>
<p style="text-align: center"><%= medium.text %></p>
<%= image_tag medium.image_video.url(:big) %>

<div id="likes" style="text-align: center">
	<p><%= likes_count(medium.id) %> users like this</p>
    <% if current_user.likes.exists?(medium_id: medium.id) %>
        <%= link_to 'Unlike', medium_like_path(unlike_params(current_user.id, medium.id), medium_id: medium.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
        <%= render partial: 'content/likes/create', locals: { medium: medium, like: like } %>
    <% end %>
</div>

<div id="comments">
	<%= render partial: 'content/comments/show', locals: { comments: comments, users: users } %>
</div>

<%= render partial: 'content/comments/form', locals: { comment: comment, medium: medium } %>