<%# We can make this a partial later to have the image pop up on top of current page with javascript %>

<div class="container container-medium-view">
    <div class="row">
        <div class="col-md-6 medium-view-row">
            <%= image_tag medium.image_video.url(:croppable) %>
        </div>
        <div class="col-md-6 medium-view-row">
	        <%# This query is temporary %>
            <p><%= medium.text %> by <%= link_to User.find(medium.user_id).name , user_path(medium.user_id) %></p>

            <div id="likes">
                <p>
	                <% if current_user.likes.exists?(medium_id: medium.id) %>
                        <%= likes_count(medium.id) %> <%= link_to 'users', medium_likes_path(medium) %> like this
	                    <%= link_to 'Unlike', medium_like_path(unlike_params(current_user.id, medium), medium_id: medium.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	                <% else %>
	                    <%= render partial: 'content/likes/create', locals: { medium: medium, like: like } %>
	                <% end %>
                </p>
            </div>

	        <div class="medium-view-comments">
	            <%= render partial: 'content/comments/show', locals: { comments: comments, users: users } %>
	        </div>

	        <div class="medium-view-comments-new">
	            <%= render partial: 'content/comments/form', locals: { comment: comment, medium: medium } %>
	        </div>
        </div>
    </div>
</div>