<%# We can make this a partial later to have the image pop up on top of current page with javascript %>

<div class="container container-medium-view">
    <div class="row">
        <div class="col-md-6 medium-view-row">
            <%= image_tag medium.image_video.url(:croppable) %>
        </div>

        <div class="col-md-6 medium-view-row">
	        <%# This query is temporary %>
            <p><%= medium.text %> by <%= link_to medium.user.name , user_path(medium.user.id) %></p>

            <div id="likes">
                <p>
	                <% if like_exists?(current_user, medium) %>
                        <%= medium.likes.length %> <%= link_to 'users', medium_likes_path(medium) %> like this
	                    <%= link_to 'Unlike', medium_like_path(unlike_params(current_user, medium), medium_id: medium.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	                <% else %>
	                    <%= render partial: 'content/likes/create', locals: { medium: medium } %>
	                <% end %>
                </p>
            </div>

	        <div class="medium-view-comments">
	            <%= render partial: 'content/comments/show', locals: { comments: medium.comments } %>
	        </div>

	        <div class="medium-view-comments-new">
	            <%= render partial: 'content/comments/form', locals: { medium: medium } %>
	        </div>
        </div>
    </div>
</div>