<h1>Media#new</h1>
<p>Find me in app/views/media/new.html.erb</p>


<%= form_for @medium, :url => media_path, :html => { :multipart => true } do |form| %>
	<%= label_tag 'Text: ' %>
	<%= text_field :media, :text %>
    <%= form.file_field :image_video %><br>
	<%= form.submit 'Upload media' %>
<% end %>
