<!DOCTYPE html>
<html lang="en" ng-app="Fit">
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Example" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Example" %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>
	<header>
	    <%= render 'layouts/navigation' %>
	</header>

	<main role="main">
		<div ng-view>
		    <%= render 'layouts/messages' %>
		    <%= yield %>
		</div>
	</main>
</body>
</html>
